.container {
    margin: 20px;
    padding: 20px;
    background-color: #bea7db;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
  }